{% set tab = "problem" %}
{% extends "common/framework.twig" %}
{% block stylesheet %}
    <link rel="stylesheet" href="/static/main/css/index.css" />
{% endblock %}

{% block title %}
    Gemini Online Judge
{% endblock %}
{% block contents %}
    <div class="wrapper">
        <div class="container">
            <h3>Problems</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td width="10%">#</td>
                        <td>Title</td>
                        <td width="20%">Difficulty Rate</td></tr>
                </thead>
                <tbody>
                    {% for problem in problems %}
                    <tr>
                        <td>{{ problem.id }}</td>
                        <td>
                            <a href="/problem/{{ problem.id }}">{{ problem.title }}</a>
                        </td>
                        <td>
                            {% if problem.submit == 0 %}
                             No submits
                            {% else %}
                                {{ (problem.accept * 100 / problem.submit) | number_format(2) }}%
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                        <tr><td colspan="3" align="center">Empty</td></tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav class="content-center">
                {{ pagenav(page, pageSize, total, "/?page=#page#") }}
            </nav>
        </div>
    </div>
{% endblock %}