{% extends "common/framework.twig" %}
{% block title %}
    Status - {{ globalTitle }}
{% endblock %}
{% block contents %}
    <div class="wrapper">
        <div class="container">
            <h3>Status</h3>
            <table class="table">
                <thead>
                <tr>
                    <td width="12.5%">#</td>
                    <td width="12.5%">Problem Id</td>
                    <td width="12.5%">User</td>
                    <td width="12.5%">Status</td>
                    <td width="12.5%">Language</td>
                    <td width="12.5%">Time Used</td>
                    <td width="12.5%">Memory Used</td>
                    <td>Submit Time</td>
                </tr>
                </thead>
                <tbody>
                {% for status in statusList %}
                    <tr>
                        <td>{{ status.id }}</td>
                        <td><a href="/problem/{{ status.problem_id }}">{{ status.problem_id }}</a></td>
                        <td>{{ status.user.username }}</td>
                        <td>{{ status.result|result_filter }}</td>
                        <td>{{ status.language }}</td>
                        <td>{{ status.time_used }} MS</td>
                        <td>{{ status.memory_used }} KB</td>
                        <td>{{ status.create_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}